<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Java SpringBoot</title>
</head>
<body>

<h1>Chat Java SpringBoot</h1>

<form th:object="${chaForm}" action="#" th:action="@{/chat}" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" th:field="${chatForm.userName}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="${chatForm.messageText}">
    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="${chatForm.messageType}">
        <!--<option selected>Say</option>
        <option>Shout</option>
        <option>Whisper</option>-->
        <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit" value="Send">
</form>

<div th:each="msj : ${chatMessages}">
    <span th:text="${msj.userName}">Username</span>: <span th:text="${msj.message}">Hello, World!</span>
</div>

</body>
</html>

